[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
fastapi = "*"
pyyaml = "*"
mistletoe = "*"
lark = "*"
tqdm = "*"
marshmallow-dataclass = "*"
pytest = "*"
requests = "*"
marshmallow = "*"
httpx = "*"
click = "*"
typeguard = "*"
uvicorn = {extras = ["standard"], version = "*"}
business = {editable = true, path = "."}
