[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mistletoe = "0.0.9"
pydantic = "*"
pytest = "*"
pyyaml = "*"
rx = "*"
marshmallow-dataclass = "*"
black = "==21.5b1"
business = {editable = true, path = "."}
python-dotenv = "*"
pandas = "*"
openpyxl = "*"
tqdm = "*"
realtime-py = "0.1.3"
numpy = "*"
supabase = "==0.0.3"
click = "*"
lark = "*"

[dev-packages]

[requires]
python_version = "3.9"
