[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mistletoe = "*"
pydantic = "*"
pytest = "*"
pyyaml = "*"
business = {editable = true, path = "."}
realtime = {editable = true, path = "../realtime"}
supabase = "*"
rx = "*"

[dev-packages]

[requires]
python_version = "3.9"
