# See http://help.github.com/ignore-files/ for more about ignoring files.

# act
.act.vars
.act.secrets

# compiled output
dist
packages/domain
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Nx
.nx/cache
.nx/workspace-data

# Next.js
.next
out

# Earthly
.arg

# Docker data
docker-data
.env


storybook-static

# fichiers `package.json` des packages enfant (créés automatiquement par le lancement des storybooks)
**/package.json

# gcloud credentials
keyfile.json

# GitHub Actions
.github/config/.act.vars
.github/config/.act.secrets

# Playwright
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/
