# Resolving 'import-in-the-middle' external package errors when building next.js with turbopack with pnpm
# https://docs.sentry.io/platforms/javascript/guides/nextjs/troubleshooting/#pnpm-resolving-import-in-the-middle-external-package-errors
public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*require-in-the-middle*
