# Resolving 'import-in-the-middle' external package errors when building next.js with turbopack with pnpm
# https://docs.sentry.io/platforms/javascript/guides/nextjs/troubleshooting/#pnpm-resolving-import-in-the-middle-external-package-errors
public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*require-in-the-middle*

# Ensures that the package manager enforces strict version compatibility rules for all dependencies.
# In combination with invalid engines version of npm and yarn in package.json, this enforces pnpm to be the only package manager used.
engine-strict=true

# Prevents automatic execution of dependency scripts during installation.
# This protects against supply chain attacks where malicious packages execute code via `preinstall`/`postinstall` scripts.
ignore-scripts=true
