from __future__ import annotations

from datetime import date
from typing import List, Literal, Optional
from pydantic import BaseModel


{% for class, fields in classes.items() %}
class {{ class }}(BaseModel):
    {%- for field, type in fields.items() %}
        {{ field }}: {{ type }}
    {%- endfor %}

{% endfor %}
