from __future__ import annotations

from datetime import date
from dataclasses import dataclass
from typing import List

{% for class, fields in classes.items() %}
@dataclass
class {{ class }}:
    {%- for field, type in fields.items() %}
        {{ field }}: {{ type }}
    {%- endfor %}

{% endfor %}
