<h2>Territoires en Transitions</h2>

<p>Vous avez demandé à modifier l'email {{ .Email }} pour votre compte Territoires en Transitions.</p>

<p>Veuillez suivre le lien ci-dessous pour confirmer le changement de votre email vers le nouvel email {{ .NewEmail }}.</p>
<p><a href="{{ .ConfirmationURL }}">Valider le changement d'email</a></p>

<p>Si vous n'êtes pas à l'origine de cette demande veuillez ignorer ce message.</p>

<p>À bientôt sur la plateforme !</p>
<p>
  L’équipe Territoires en Transitions <br /><a
    href="mailto:contact@territoiresentransitions.fr"
    >contact@territoiresentransitions.fr</a
  >
</p>
