<h2>Territoires en Transitions</h2>

<p>
  Nous avons reçu une demande de changement de mot de passe pour le compte
  {{.Email}}
</p>

<p>
  Si vous n'êtes pas à l'origine de cette demande veuillez ignorer ce message.
</p>

<p>Sinon, suivez le lien ci-dessous</p>
<a
  href="http://localhost:3003/login?view=recover&email={{.Email}}&otp={{ .Token }}&redirect_to={{ .RedirectTo }}"
  style="font-size: 1rem; font-weight: 700; border: 1px solid #6A6AF4; border-radius: 8px; text-align: center; padding: 1rem 2rem; margin: 1rem; display: block; max-width: fit-content; background-color: #6A6AF4; color: white; text-decoration: none;"
  >Réinitialiser mon mot de passe</a
>
<p>
  et entrez le code suivant : <b id="otp">{{ .Token }}</b> avant de pouvoir choisir un nouveau mot de passe.
</p>

<p>À bientôt sur la plateforme !</p>
<p>
  L’équipe Territoires en Transitions <br /><a
    href="mailto:contact@territoiresentransitions.fr"
    >contact@territoiresentransitions.fr</a
  >
</p>
