.critere-action-table {
  margin-bottom: 32px;
  border-radius: 8px;
  border-width: 8px;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.critere-action-table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1px;
}

.critere-action-table th {
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 36em) {
  .critere-action-table th {
    white-space: nowrap;
  }
}

.critere-action-table td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
