.CrossExpandPanel details {
  width: 100%;
  padding: 0.75rem 0;
  border-top: 1px solid var(--g300);
  border-bottom: 1px solid var(--g300);
}

.CrossExpandPanel details[open] {
  padding-bottom: 1.5rem;
}

.CrossExpandPanel details[open] summary {
  padding-bottom: 1.5rem;
}

.CrossExpandPanel details[open] .title {
  font-weight: bold;
}

.CrossExpandPanel details summary::after {
  content: '+';
  margin-left: auto;
}

.CrossExpandPanel details[open] summary::after {
  content: '-';
}

.CrossExpandPanel summary::-webkit-details-marker {
  display: none;
}

.CrossExpandPanel summary {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.CrossExpandPanel details summary.title {
  font-size: 18px;
}
