{% for class, fields in classes.items() %}
    export interface {{ class }}Interface {
    {%- for field, type in fields.items() %}
        {{ field }}: {{ type }},
    {%- endfor %}
    }

    export class {{ class }} {
    public static pathname: string = '{{ pathname }}';
    get pathname(): string {
        return {{ class }}.pathname;
    }

    {%- for field, type in fields.items() %}
        {{ field }}: {{ type }};
    {%- endfor %}

    /**
    * Creates a {{ class }} instance.
    */
    constructor(
    {
    {%- for field in fields.keys() %}
        {{ field }},
    {%- endfor %}
    }
    : {
    {%- for field, type in fields.items() %}
        {{ field }}: {{ type }},
    {%- endfor %}
    })
    {
    {%- for field in fields.keys() %}
        this.{{ field }} = {{ field }};
    {%- endfor %}
    }
    }
{% endfor %}
