export class Thematique {
    id: string;
    name: string;
    constructor(id: string, name: string) {
        this.id = id;
        this.name = name;
    }
}

export const thematiques: Thematique[] = [
{% for id, name in thematiques.items() %}
    new Thematique("{{ id }}", "{{ name }}"),
{% endfor %}
]
