/* @import '@gouvfr/dsfr/dist/dsfr.min.css'; */

@import 'remixicon/fonts/remixicon.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Marianne';
  src: url('./assets/fonts/Marianne-Light.woff2') format('woff2'),
    url('./assets/fonts/Marianne-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('./assets/fonts/Marianne-Light_Italic.woff2') format('woff2'),
    url('./assets/fonts/Marianne-Light_Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('./assets/fonts/Marianne-Regular.woff2') format('woff2'),
    url('./assets/fonts/Marianne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('./assets/fonts/Marianne-Regular_Italic.woff2') format('woff2'),
    url('./assets/fonts/Marianne-Regular_Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('./assets/fonts/Marianne-Medium.woff2') format('woff2'),
    url('./assets/fonts/Marianne-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('./assets/fonts/Marianne-Medium_Italic.woff2') format('woff2'),
    url('./assets/fonts/Marianne-Medium_Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('./assets/fonts/Marianne-Bold.woff2') format('woff2'),
    url('./assets/fonts/Marianne-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('./assets/fonts/Marianne-Bold_Italic.woff2') format('woff2'),
    url('./assets/fonts/Marianne-Bold_Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/*** Mise en forme DS Territoires en Transitions ***/
@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Marianne', arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color: #3a3a3a;
  }

  input:disabled,
  input[type='checkbox']:disabled,
  input[type='checkbox']:disabled + label,
  input[type='radio']:disabled,
  input[type='radio']:disabled + label,
  input[type='file']:disabled,
  input[type='range']:disabled,
  input[type='button']:disabled,
  input[type='image']:disabled,
  input[type='reset']:disabled,
  input[type='submit']:disabled,
  select:disabled,
  textarea:disabled,
  video:not([href])[controls],
  audio:not([href])[controls] {
    cursor: not-allowed;
  }

  /* Evite les problèmes d'alignement lors de l'utilisation de html2canvas */
  img {
    @apply inline-block;
  }

  p,
  ul {
    margin-bottom: 1.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    @apply text-primary-9;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h5 {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  h6 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  @media (max-width: theme('screens.md')) {
    /* Breakpoint md dans tailwind */
    h1 {
      font-size: 2rem;
      line-height: 2.5rem;
    }

    h2 {
      font-size: 1.75rem;
      line-height: 2.25rem;
    }

    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    h4 {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }

    h5 {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    h6 {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }
}

@layer components {
  .paragraphe-14,
  .paragraphe-16,
  .paragraphe-18,
  .paragraphe-22,
  .paragraphe-14 > p,
  .paragraphe-16 > p,
  .paragraphe-18 > p,
  .paragraphe-22 > p {
    font-weight: 400;
    @apply text-primary-10;
  }

  .paragraphe-14,
  .paragraphe-14 > p {
    font-size: 14px;
    line-height: 22px;
  }

  .paragraphe-16,
  .paragraphe-16 > p {
    font-size: 16px;
    line-height: 28px;
  }

  .paragraphe-18,
  .paragraphe-18 > p {
    font-size: 18px;
    line-height: 30px;
  }

  .paragraphe-22,
  .paragraphe-22 > p {
    font-size: 22px;
    line-height: 36px;
  }

  .paragraphe-primary-9,
  .paragraphe-primary-9 > p {
    @apply text-primary-9;
  }

  .paragraphe-primary-10,
  .paragraphe-primary-10 > p {
    @apply text-primary-10;
  }

  .paragraphe-primary-11,
  .paragraphe-primary-11 > p {
    @apply text-primary-11;
  }

  .paragraphe-grey-1,
  .paragraphe-grey-1 > p {
    @apply text-grey-1;
  }

  .paragraphe-info-1,
  .paragraphe-info-1 > p {
    @apply text-info-1;
  }

  .paragraphe-medium,
  .paragraphe-medium > p {
    font-weight: 500;
  }
}
