@import '@gouvfr/dsfr/dist/dsfr.min.css';

@import 'remixicon/fonts/remixicon.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/*** Mise en forme DS Territoires en Transitions ***/
@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    min-height: 100vh;
  }

  /* Evite les problèmes d'alignement lors de l'utilisation de html2canvas */
  img {
    @apply inline-block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    margin-bottom: 1.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    @apply text-primary-9;
  }

  h1 {
    font-size: 40px;
    line-height: 48px;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  h3 {
    font-size: 28px;
    line-height: 36px;
  }

  h4 {
    font-size: 24px;
    line-height: 32px;
  }

  h5 {
    font-size: 22px;
    line-height: 28px;
  }

  h6 {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: theme('screens.md')) {
    /* Breakpoint md dans tailwind */
    h1 {
      font-size: 32px;
      line-height: 41px;
    }

    h2 {
      font-size: 28px;
      line-height: 36px;
    }

    h3 {
      font-size: 24px;
      line-height: 32px;
    }

    h4 {
      font-size: 24px;
      line-height: 28px;
    }

    h5 {
      font-size: 20px;
      line-height: 28px;
    }

    h6 {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

@layer components {
  .paragraphe-12,
  .paragraphe-14,
  .paragraphe-16,
  .paragraphe-18,
  .paragraphe-22,
  .paragraphe-12 > p,
  .paragraphe-14 > p,
  .paragraphe-16 > p,
  .paragraphe-18 > p,
  .paragraphe-22 > p {
    font-weight: 400;
    @apply text-primary-10;
  }

  .paragraphe-12,
  .paragraphe-12 > p {
    font-size: 12px;
    line-height: 18px;
  }

  .paragraphe-14,
  .paragraphe-14 > p {
    font-size: 14px;
    line-height: 22px;
  }

  .paragraphe-16,
  .paragraphe-16 > p {
    font-size: 16px;
    line-height: 28px;
  }

  .paragraphe-18,
  .paragraphe-18 > p {
    font-size: 18px;
    line-height: 30px;
  }

  .paragraphe-22,
  .paragraphe-22 > p {
    font-size: 22px;
    line-height: 36px;
  }

  .paragraphe-primary-9,
  .paragraphe-primary-9 > p {
    @apply text-primary-9;
  }

  .paragraphe-primary-10,
  .paragraphe-primary-10 > p {
    @apply text-primary-10;
  }

  .paragraphe-primary-11,
  .paragraphe-primary-11 > p {
    @apply text-primary-11;
  }

  .paragraphe-grey-1,
  .paragraphe-grey-1 > p {
    @apply text-grey-1;
  }

  .paragraphe-info-1,
  .paragraphe-info-1 > p {
    @apply text-info-1;
  }

  .paragraphe-medium,
  .paragraphe-medium > p {
    font-weight: 500;
  }

  .fr-checkbox-group input[type='checkbox']:checked + label::before {
    @apply bg-primary-7;
  }

  .fr-checkbox-group input[type='checkbox'] + label::before {
    background-image: radial-gradient(
        at 5px 4px,
        transparent 4px,
        theme('colors.primary.7') 4px,
        theme('colors.primary.7') 5px,
        transparent 6px
      ),
      linear-gradient(theme('colors.primary.7'), theme('colors.primary.7')),
      radial-gradient(
        at calc(100% - 5px) 4px,
        transparent 4px,
        theme('colors.primary.7') 4px,
        theme('colors.primary.7') 5px,
        transparent 6px
      ),
      linear-gradient(theme('colors.primary.7'), theme('colors.primary.7')),
      radial-gradient(
        at calc(100% - 5px) calc(100% - 4px),
        transparent 4px,
        theme('colors.primary.7') 4px,
        theme('colors.primary.7') 5px,
        transparent 6px
      ),
      linear-gradient(theme('colors.primary.7'), theme('colors.primary.7')),
      radial-gradient(
        at 5px calc(100% - 4px),
        transparent 4px,
        theme('colors.primary.7') 4px,
        theme('colors.primary.7') 5px,
        transparent 6px
      ),
      linear-gradient(theme('colors.primary.7'), theme('colors.primary.7')),
      var(--data-uri-svg);
  }
}
