/* Mise en forme du label */

.tag-filters input[type='radio']:checked + label {
  background-color: var(--background-action-high-blue-france);
  color: var(--text-inverted-grey);
}

/* Mise en forme de l'icône checkbox */

.tag-filters input[type='radio']:checked + label span {
  display: flex;
  position: absolute;
  top: -9px;
  right: -12px;
  background-color: #fff;
  border-radius: 1rem;
  border-width: 1px;
  border-color: #fff;
  color: var(--text-action-high-blue-france);
}
