/** MultiSelect */
.MuiSelect-root.MuiSelect-outlined {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  font-family: Marianne;
  font-size: 14px;
  font-weight: bold;
  color: var(--text-label-blue-france);
  border: 1px solid transparent;
}

.MuiSelect-root.MuiSelect-outlined[aria-expanded] {
  border: 1px solid var(--text-label-blue-france);
  border-radius: 4px;
}

.MuiMenuItem-root {
  font-size: 14px;
  font-family: Marianne;
}

.offset-item {
  padding-left: 3rem;
}

.MuiMenuItem-root[aria-selected]::before {
  color: var(--text-label-blue-france);
  margin-right: 8px;
}

.MuiInputBase-root::before {
  color: var(--text-label-blue-france);
}

.MuiInputBase-root > div {
  background-color: transparent !important;
}

.MuiInputBase-root fieldset {
  display: none;
}

.MuiMenuItem-root {
  font-size: 14px !important;
}

.MuiListItem-root.Mui-selected {
  background-color: white !important;
}

.MuiInputBase-root::before {
  padding-left: 8px;
}

.MuiListItem-root.Mui-selected:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}
