/* feuille de styles globale fourni par le module partagé */
@import '@tet/ui/global.css';

/*** CSS spécifique au site ***/
@media (min-width: 78em) {
  .fr-container,
  .fr-container-sm,
  .fr-container-md,
  .fr-container-lg {
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .fr-container,
  .fr-container-sm,
  .fr-container-md,
  .fr-container-lg {
    max-width: 1280px;
  }
}

@media (min-width: 1350px) {
  .fr-container,
  .fr-container-sm,
  .fr-container-md,
  .fr-container-lg {
    padding-left: 0;
    padding-right: 0;
  }
}

/** cartes dsfr */
.fr-card.fr-enlarge-link:hover {
  background-color: #f6f6f6 !important;
  transition-duration: 700ms;
}

.fr-card.fr-enlarge-link:hover .fr-card__img {
  filter: brightness(var(--brightness));
  transition-duration: 700ms;
  transform: scale(1.05);
}

/** affiche la numérotation des h2 correspondant aux entrées du sommaire  */
/** ref: https://gist.github.com/patik/89ee6092c72a9e39950445c01598517a */
body,
h1 {
  counter-reset: h2counter;
}

/** contenu des pages articles */
.article *:not(h1, h2, h3, h4, h5, h6) {
  @apply text-lg;
  @apply leading-7;
}

.article a:not(.button) {
  @apply text-primary-8;
}

.article a:not(.button):disabled {
  @apply text-primary-3;
}

/* classes utilisées sur les textes générés par remark */

.small-text,
.small-text > * {
  font-size: 15px !important;
  line-height: 20.8px !important;
}

.markdown_style p {
  @apply mb-4;
}

.markdown_style ul {
  list-style-position: outside;
  @apply pl-5;
  @apply mb-4;
}

.markdown_style li:not(:last-of-type) {
  @apply pb-4;
}

.markdown_style li:last-of-type {
  @apply pb-0;
}

.markdown_style > *:last-child {
  @apply mb-0;
}

.markdown_style.font-medium > * {
  font-weight: 500;
}

.markdown_style.text-2xl > * {
  font-size: 1.5rem;
  line-height: 2rem;
}

.markdown_style.text-white > * {
  color: white;
}

.colored_marker li::marker {
  @apply text-primary-6;
}

.colored_bold strong {
  @apply text-primary-8;
}
