{% for class, fields in classes.items() %}
    class {{ class }} {
    /**
     * Creates a {{ class }} instance.
     *
    {%- for field, type in fields.items() %}
     * @param { {{ type }} } {{ field }}
    {%- endfor %}
    */
        constructor(
    {%- for field in fields.keys() %}
        {{ field }},
    {%- endfor %}
        )
    {
    {%- for field in fields.keys() %}
        this.{{ field }} = {{ field }};
    {%- endfor %}
    }
    }
{% endfor %}
