.ArrowExpandable summary::-webkit-details-marker {
  display: none;
}

/* TODO : the rotate does not work ... :(  */
.ArrowExpandable details[open] summary span {
  transform: rotate(90deg);
}

.ArrowExpandable summary {
  display: flex;
  align-items: center;
}

.ArrowExpandable summary span {
  margin-bottom: -0.625rem;
  margin-left: 1rem;
}

.ArrowExpandable summary span::before {
  font-size: 2rem;
}
