[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
supabase = "*"
pydantic = "*"
pytest = "*"
pytest-asyncio = "*"
rx = "*"
results = "*"
realtime = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.9"
