<h2>Territoires en Transitions</h2>

<p>Une création de compte a été demandée pour l'adresse {{.Email}}</p>

<p>Si vous n'êtes pas à l'origine de cette demande veuillez ignorer ce message.</p>

<p>Sinon, suivez le lien ci-dessous pour valider votre inscription</p>
<p>
  <a href="http://localhost:3001/auth/confirm?token_hash={{ .TokenHash }}&type=signup&next={{ .RedirectTo }}"
    >Valider mon inscription</a
  >
</p>

<p>À bientôt sur la plateforme !</p>
<p>
  L’équipe Territoires en Transitions <br /><a
    href="mailto:contact@territoiresentransitions.fr"
    >contact@territoiresentransitions.fr</a
  >
</p>
