<h2>Territoires en Transitions</h2>

<p>Une connexion a été demandée pour l'adresse {{.Email}}</p>

<p>Si vous n'êtes pas à l'origine de cette demande veuillez ignorer ce message.</p>

<p>Sinon, suivez le lien ci-dessous</p>
<a href="http://localhost:3003/login?view=verify&email={{.Email}}&otp={{ .Token }}&redirect_to={{ .RedirectTo }}"
  style="font-size: 1rem; font-weight: 600; border: 1px solid #6A6AF4; border-radius: 8px; text-align: center; padding: 1rem; display: block;"
  >Me connecter</a
>
<p>
  et entrez le code suivant : <b id="otp">{{ .Token }}</b> pour vous connecter.
</p>

<p>À bientôt sur la plateforme !</p>
<p>
  L’équipe Territoires en Transitions <br /><a
    href="mailto:contact@territoiresentransitions.fr"
    >contact@territoiresentransitions.fr</a
  >
</p>
 