<h2>Territoires en Transitions</h2>

<p>Nous avons reçu une demande de changement de mot de passe pour le compte {{.Email}}</p>
<p><a href="http://localhost:3001/auth/recover/{{ .Token }}">Réinitialiser mon mot de passe</a>
</p>

Afin de réinitialiser votre mot de passe, saissisez votre adresse email et le code : 
<b>{{ .Token }}</b>

<p>À bientôt sur la plateforme !</p>
<p>L’équipe Territoires en Transitions
<br /><a href="mailto:contact@territoiresentransitions.fr">contact@territoiresentransitions.fr</a></p>
