/** Layout global **/
@media (min-width: 90em) {
  .fr-container,
  .fr-container-sm,
  .fr-container-md,
  .fr-container-lg,
  .fr-container-xl {
    max-width: 90rem;
  }
}

.htmlContent ul {
  list-style: disc;
  margin-left: 1.5rem;
}

.htmlContent li > p {
  display: inline;
}

details > .content p {
  margin-bottom: 1rem;
}

.htmlContent p {
  margin: 0 0 0.5rem;
}

.htmlContent a:link {
  text-decoration: underline;
  font-weight: 100;
}

.htmlContent a:visited {
  text-decoration: none;
}

.htmlContent a:hover {
  font-weight: 200;
}

.htmlContent a:active {
  text-decoration: underline;
}

main a[href] {
  background-image: none;
}

main a[href].underline_href {
  background-image: var(--underline-img), var(--underline-img);
}

/* pour supprimer la marge bas des paragraphes */
.p-mb-0 p {
  margin-bottom: 0;
}

/* Checkbox styling */

.fiche-action input,
.cgu input {
  appearance: none;
  display: inline-block;
  vertical-align: middle;
}

.fiche-action input[type='checkbox'],
.cgu input[type='checkbox'] {
  border: 2px solid #555;
  width: 20px;
  height: 20px;
  padding: 4px;
}
.fiche-action input[type='checkbox']:checked,
.cgu input[type='checkbox']:checked {
  background: #555;
  background-clip: content-box;
}

label {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 -2px 8px;
}

/** fixe un pb de z-index entre le sticky header et le contenu des tabs sur la
 * page action, qui faisait que le bandeau était recouvert par le contenu
 * lorsqu'on dépliait et cliquait à l'intérieur d'un des volets "Exemples" ou
 * "Preuves" **/
.fr-tabs {
  z-index: 1;
}

/** icônes manquantes dans le dsfr **/
.fr-icon-history-line::before,
.fr-icon-history-fill::before {
  background-color: currentColor;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0H24V24H0z'/%3E%3Cpath d='M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12h2c0 4.418 3.582 8 8 8s8-3.582 8-8-3.582-8-8-8C9.25 4 6.824 5.387 5.385 7.5H8v2H2v-6h2V6c1.824-2.43 4.729-4 8-4zm1 5v4.585l3.243 3.243-1.415 1.415L11 12.413V7h2z'/%3E%3C/svg%3E");
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
}

/** change la couleur quand ces icônes sont utilisées dans le titre d'un onglet sélectionné */
[aria-selected='true'] .fr-icon-history-fill::before,
[aria-selected='true'] .fr-icon-history-line::before {
  background-color: var(--text-active-blue-france);
}

.small-checkbox input[type='checkbox'] + label::before {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.125rem;
}

input,
textarea {
  outline-width: 0px !important;
}

/** rend transparent le fond des liens au moment du clic (le dsfr applique la
 * teinte --active qui ne passe pas bien sur certains fonds de couleur) */
a.active-transparent {
  --active-tint: transparent;
}
