.htmlContent ul {
  list-style: disc;
  margin-left: 1.5rem;
}

.htmlContent li > p {
  display: inline;
}

details > .content p {
  margin-bottom: 1rem;
}

.htmlContent p {
  margin: 0 0 0.5rem;
}

.htmlContent a:link {
  text-decoration: underline;
  font-weight: 100;
}

.htmlContent a:visited {
  text-decoration: none;
}

.htmlContent a:hover {
  font-weight: 200;
}

.htmlContent a:active {
  text-decoration: underline;
}

.ActionExpandPanelAdemeContent summary.title {
  font-size: 18px;
}

main a[href] {
  box-shadow: none;
}

/** réduit l'espacement des label+bouton radio utilisés en liste verticale **/
.fr-radio-group--sm input[type='radio'] + label {
  padding: 0.5rem 0 !important;
}
.fr-radio-group--sm.vertical input[type='radio'] + label:before {
  margin-top: 0.75rem !important;
}
/** réduit l'espacement entre l'élément précédent et une liste horizontale de
 * champs ou bouton radio **/
.fr-fieldset--inline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.inline-radio {
  margin-top: -0.75rem;
}

/* pour supprimer la marge bas des paragraphes */
.p-mb-0 p {
  margin-bottom: 0;
}

/* Checkbox styling */

.fiche-action input,
.cgu input {
  appearance: none;
  display: inline-block;
  vertical-align: middle;
}

.fiche-action input[type='checkbox'],
.cgu input[type='checkbox'] {
  border: 2px solid #555;
  width: 20px;
  height: 20px;
  padding: 4px;
}
.fiche-action input[type='checkbox']:checked,
.cgu input[type='checkbox']:checked {
  background: #555;
  background-clip: content-box;
}

label {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 -2px 8px;
}

/** fixe un pb de z-index entre le sticky header et le contenu des tabs sur la
 * page action, qui faisait que le bandeau était recouvert par le contenu
 * lorsqu'on dépliait et cliquait à l'intérieur d'un des volets "Exemples" ou
 * "Preuves" **/
.fr-tabs {
  z-index: 1;
}

/** icônes manquantes dans le dsfr **/
.fr-fi-archive-line::before {
  background-color: var(--text-action-high-grey);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3 10H2V4.003C2 3.449 2.455 3 2.992 3h18.016A.99.99 0 0 1 22 4.003V10h-1v10.001a.996.996 0 0 1-.993.999H3.993A.996.996 0 0 1 3 20.001V10zm16 0H5v9h14v-9zM4 5v3h16V5H4zm5 7h6v2H9v-2z'/%3E%3C/svg%3E");
  content: ' ';
  display: block;
  width: 24px;
  height: 24px;
}
.fr-fi-settings-line::before {
  background-color: var(--text-action-high-grey);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3.34 17a10.018 10.018 0 0 1-.978-2.326 3 3 0 0 0 .002-5.347A9.99 9.99 0 0 1 4.865 4.99a3 3 0 0 0 4.631-2.674 9.99 9.99 0 0 1 5.007.002 3 3 0 0 0 4.632 2.672c.579.59 1.093 1.261 1.525 2.01.433.749.757 1.53.978 2.326a3 3 0 0 0-.002 5.347 9.99 9.99 0 0 1-2.501 4.337 3 3 0 0 0-4.631 2.674 9.99 9.99 0 0 1-5.007-.002 3 3 0 0 0-4.632-2.672A10.018 10.018 0 0 1 3.34 17zm5.66.196a4.993 4.993 0 0 1 2.25 2.77c.499.047 1 .048 1.499.001A4.993 4.993 0 0 1 15 17.197a4.993 4.993 0 0 1 3.525-.565c.29-.408.54-.843.748-1.298A4.993 4.993 0 0 1 18 12c0-1.26.47-2.437 1.273-3.334a8.126 8.126 0 0 0-.75-1.298A4.993 4.993 0 0 1 15 6.804a4.993 4.993 0 0 1-2.25-2.77c-.499-.047-1-.048-1.499-.001A4.993 4.993 0 0 1 9 6.803a4.993 4.993 0 0 1-3.525.565 7.99 7.99 0 0 0-.748 1.298A4.993 4.993 0 0 1 6 12c0 1.26-.47 2.437-1.273 3.334a8.126 8.126 0 0 0 .75 1.298A4.993 4.993 0 0 1 9 17.196zM12 15a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0-2a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/%3E%3C/svg%3E");
  content: ' ';
  display: block;
  width: 24px;
  height: 24px;
}
.fr-fi-seedling-fill::before {
  background-color: var(--text-action-high-grey);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0H24V24H0z'/%3E%3Cpath d='M22 7v2.5c0 3.59-2.91 6.5-6.5 6.5H13v5h-2v-7l.019-1c.255-3.356 3.06-6 6.481-6H22zM6 3c3.092 0 5.716 2.005 6.643 4.786-1.5 1.275-2.49 3.128-2.627 5.214H9c-3.866 0-7-3.134-7-7V3h4z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
  content: ' ';
  display: block;
  width: 24px;
  height: 24px;
}
.fr-fi-line-chart-fill::before {
  background-color: var(--text-action-high-grey);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0H24V24H0z'/%3E%3Cpath d='M5 3v16h16v2H3V3h2zm14.94 2.94l2.12 2.12L16 14.122l-3-3-3.94 3.94-2.12-2.122L13 6.88l3 3 3.94-3.94z'/%3E%3C/svg%3E");
  content: ' ';
  display: block;
  width: 24px;
  height: 24px;
}
.fr-fi-history-line::before {
  background-color: var(--text-action-high-grey);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0H24V24H0z'/%3E%3Cpath d='M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12h2c0 4.418 3.582 8 8 8s8-3.582 8-8-3.582-8-8-8C9.25 4 6.824 5.387 5.385 7.5H8v2H2v-6h2V6c1.824-2.43 4.729-4 8-4zm1 5v4.585l3.243 3.243-1.415 1.415L11 12.413V7h2z'/%3E%3C/svg%3E");
  content: ' ';
  display: block;
  width: 24px;
  height: 24px;
}

/** change la couleur quand ces icônes sont utilisées dans le titre d'un onglet sélectionné */
[aria-selected='true'] .fr-fi-archive-line::before,
[aria-selected='true'] .fr-fi-settings-line::before,
[aria-selected='true'] .fr-fi-line-chart-fill::before,
[aria-selected='true'] .fr-fi-seedling-fill::before,
[aria-selected='true'] .fr-fi-history-line::before {
  background-color: var(--text-active-blue-france);
}

.collectiviteCard:hover {
  background: #f6f6f6;
}

.small-checkbox input[type='checkbox'] + label::before {
  width: 1rem !important;
  height: 1rem !important ;
  margin-top: 0.25rem !important;
  left: -1.5rem !important;
}

.small-checkbox input[type='checkbox'] + label {
  padding: 0.05rem 0 !important;
}

.small-checkbox input[type='checkbox'] + label {
  padding: 0.05rem 0 !important;
}

input,
textarea {
  outline-width: 0px !important;
}
