.htmlContent *:last-of-type {
  margin-bottom: 0;
}

.htmlContent ul {
  list-style: disc;
  margin-left: 1.5rem;
}

.htmlContent li > p {
  display: inline;
}

details > .content p {
  margin-bottom: 1rem;
}

.htmlContent p {
  margin: 0 0 0.5rem;
}

.htmlContent a:link {
  text-decoration: underline;
  font-weight: 100;
}

.htmlContent a:visited {
  text-decoration: none;
}

.htmlContent a:hover {
  font-weight: 200;
}

.htmlContent a:active {
  text-decoration: underline;
}

main a[href] {
  background-image: none;
}

main a[href].underline_href {
  background-image: var(--underline-img), var(--underline-img);
}

/* pour supprimer la marge bas des paragraphes */
.p-mb-0 p {
  margin-bottom: 0;
}

/* Checkbox styling */

.fiche-action input,
.cgu input {
  appearance: none;
  display: inline-block;
  vertical-align: middle;
}

.fiche-action input[type='checkbox'],
.cgu input[type='checkbox'] {
  border: 2px solid #555;
  width: 20px;
  height: 20px;
  padding: 4px;
}
.fiche-action input[type='checkbox']:checked,
.cgu input[type='checkbox']:checked {
  background: #555;
  background-clip: content-box;
}

label {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 -2px 8px;
}

.small-checkbox input[type='checkbox'] + label::before {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.125rem;
}

input,
textarea {
  outline-width: 0px !important;
}

/** rend transparent le fond des liens au moment du clic (le dsfr applique la
 * teinte --active qui ne passe pas bien sur certains fonds de couleur) */
a.active-transparent {
  --active-tint: transparent;
}
