<!DOCTYPE html>
<html class="font-sans" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>
        Liste des indicateurs
    </title>
    <link href="styles.css" rel="stylesheet"/>
</head>
<body class="pb-30 bg-gray-100">
<nav class="bg-green-600">
    <ul class="container mx-auto lg:px-20 px-4 p-4 flex text-xl">
        <li class="mr-4">
            <a class="p-1 rounded hover:bg-gray-100 hover:text-gray-700 focus:bg-gray-100 focus:text-gray-700 active:text-gray-900 active:shadow-inner active:bg-white"
               href="index.html">
                Territoires en Transitions
            </a>
        </li>
        <li class="mr-4 flex-grow text-center" id="epci_nav_display">
        </li>
        <li class="mr-4">
            <a class="p-1 rounded hover:bg-gray-100 hover:text-gray-700 focus:bg-gray-100 focus:text-gray-700 active:text-gray-900 active:shadow-inner active:bg-white"
               href="mesures.html">
                Mesures
            </a>
        </li>
        <li class="mr-4">
            <a class="p-1 rounded hover:bg-gray-100 hover:text-gray-700 focus:bg-gray-100 focus:text-gray-700 active:text-gray-900 active:shadow-inner active:bg-white"
               href="indicateurs.html">
                Indicateurs
            </a>
        </li>
    </ul>
</nav>
<main class="container mx-auto lg:px-20 px-4">
    <h1 class="text-3xl font-semibold my-10">
        Liste des indicateurs
    </h1>
    {% for theme in indicateurs.keys() %}
        <section class="mb-16">
            <h2 class="text-2xl font-semibold my-6">{{ theme }}</h2>
            <ul>
                {% for indicateur in indicateurs[theme] %}
                    {% include "referentiels/html/indicateur_citergie.j2" %}
                {% endfor %}
            </ul>
        </section>
    {% endfor %}
</main>
<script src="app.js"></script>
<script src="navigation.js"></script>
<script src="ecpi_nav_display.js"></script>
</body>
</html>
