<li class="bg-white p-4 rounded my-4 grid gap-8 grid-cols-1 lg:grid-cols-12 indicateur">
    <div class="relative lg:col-span-6">
        <h3 class="text-xl font-semibold mb-6 pr-28">{{ indicateur.nom }}</h3>
        <details class="expandable">
            <summary
                    class="absolute top-0 right-0 border border-gray-400 rounded px-2 py-1
                                        cursor-pointer outline-none focus:ring-1 focus:ring-indigo-500">
                Plus
            </summary>
            <div class="whitespace-pre-line"
                {{ indicateur.description }}
            </div>
        </details>
    </div>
    <form
            class="lg:col-span-6 lg:col-end-13 grid gap-4 grid-cols-{{ years|length }}"
            data-component="indicatorForm">
        {% for year in years %}
            <label class="container">
                {{ year }}
                <input type="text"
                       class="border border-gray-400 rounded px-2 py-1 shadow-sm
                                       outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full"
                       data-indicator-id="{{ indicateur.yaml.id }}"
                       data-indicator-year="{{ year }}"
                />
            </label>
        {% endfor %}
    </form>
</li>
