<!DOCTYPE html>
<html class="font-sans" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>
        Liste des mesures
    </title>
    <link href="styles.css" rel="stylesheet"/>
</head>
<body class="pb-30 bg-gray-100">
<nav class="bg-gray-800">
    <ul class="container mx-auto lg:px-20 px-4 text-white p-4 flex font-semibold
    text-xl">
        <li class="mr-4"><a class="p-1 rounded hover:bg-gray-100
        hover:text-gray-700 focus:bg-gray-100 focus:text-gray-700
        active:text-gray-900 active:shadow-inner active:bg-white" href="mesures.html">Mesures</a></li>
        <li class="mr-4"><a class="p-1 rounded hover:bg-gray-100
        hover:text-gray-700 focus:bg-gray-100 focus:text-gray-700
        active:text-gray-900 active:shadow-inner active:bg-white"
                            href="indicateurs.html">Indicateurs</a></li>
    </ul>
</nav>
<main class="container mx-auto lg:px-20 px-4">
    <header class="flex my-10">
        <h1 class="text-3xl font-semibold flex-grow">
            Liste des mesures
        </h1>
        <a href="mesure_ajout.html"
           class="p-2 text-xl rounded border border-gray-500 hover:bg-blue-500">Ajouter une mesure</a>
    </header>
    {% for theme in mesures.keys() %}
        <section class="mb-16">
            <h2 class="text-2xl font-semibold my-6">{{ theme }}</h2>
            <div data-custom-mesure-thematique="{{ theme }}"></div>
            <ul>
                {% for mesure in mesures[theme] %}
                    <li>
                        <a
                            class="bg-white p-4 rounded my-4 grid grid-cols-1
                            lg:grid-cols-12 lg:gap-1"
                            href="mesure_{{ mesure.id }}.html"
                        >
                            <h3 class="lg:col-span-8 text-xl font-semibold mb-6 pr-28">
                                {{ mesure.nom }}
                            </h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endfor %}
</main>
<script src="mesures.js"></script>
</body>
</html>
