<!DOCTYPE html>
<html lang="fr" class="font-sans" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="index, nofollow">
    <title>{{ mesure.nom }}</title>
    <link href="styles.css" rel="stylesheet"/>
</head>
<body class="pb-30 bg-gray-100">
<nav class="bg-green-600">
    <ul class="container mx-auto lg:px-20 px-4 p-4 flex text-xl">
        <li class="mr-4">
            <a class="p-1 rounded hover:bg-gray-100 hover:text-gray-700 focus:bg-gray-100 focus:text-gray-700 active:text-gray-900 active:shadow-inner active:bg-white"
               href="/">
                Territoires en Transitions
            </a>
        </li>
        <li class="mr-4 flex-grow text-center" id="epci_nav_display">
        </li>
        <li class="mr-4">
            <a class="p-1 rounded hover:bg-gray-100 hover:text-gray-700 focus:bg-gray-100 focus:text-gray-700 active:text-gray-900 active:shadow-inner active:bg-white"
               href="fiches/">
                Plan d'actions
            </a>
        </li>
        <li class="mr-4">
            <a class="p-1 rounded hover:bg-gray-100 hover:text-gray-700 focus:bg-gray-100 focus:text-gray-700 active:text-gray-900 active:shadow-inner active:bg-white"
               href="mesures.html">
                Référentiels
            </a>
        </li>
        <li class="mr-4">
            <a class="p-1 rounded hover:bg-gray-100 hover:text-gray-700 focus:bg-gray-100 focus:text-gray-700 active:text-gray-900 active:shadow-inner active:bg-white"
               href="indicateurs.html">
                Indicateurs
            </a>
        </li>
    </ul>
</nav>
<main class="container mx-auto lg:px-20 px-4" id="mesure-{{ mesure.id }}">
    <h1 class="text-2xl font-semibold my-6">
        {{ mesure.nom }}
    </h1>

    {# note: not yet implemented
    {% if mesure.description %}
        <section class="description">
            <h2>Description</h2>
            <div class="description">
                {{ mesure.description }}
            </div>
        </section>
    {% endif %}
    #}

    {% if indicateurs %}
        <section id="indicateurs" class="py-5">
            <h2 class="text-2xl font-semibold my-6">
                Indicateurs
            </h2>
            <ul>
                {% for indicateur in indicateurs %}
                    {% include "referentiels/html/indicateur_citergie.j2" %}
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    <section id="actions" class="py-5">
        <h2 class="text-2xl font-semibold my-6">
            Actions
        </h2>
        <ul>
            {% for action in mesure.actions %}
                <li class="bg-white p-4 rounded py-6 my-4">
                    <section class="action grid grid-cols-1 lg:grid-cols-12 lg:gap-4"
                             id="action-{{ action.id }}">

                        {# Name and description #}
                        <div class="relative lg:col-span-7">
                            <h3 class="pr-28">{{ action.nom }}</h3>
                            <details class="expandable">
                                <summary class="border border-gray-400 rounded px-2 py-1 absolute top-0
         right-0 cursor-pointer hover:bg-gray-200">Plus
                                </summary>
                                <div class="details-content">
                                    {{ action.description }}
                                </div>
                            </details>
                        </div>

                        {# Avancement input #}
                        <form class="lg:col-span-5 lg:col-end-13 grid justify-items-end">
                            <fieldset class="flex status" data-action-id="{{ action.id }}">
                                {% for key, display in avancement_noms.items() %}
                                    <div>
                                        <input value="{{ key }}"
                                               id="action-{{ action.id }}_{{ key }}"
                                               name="action-{{ action.id }}_status"
                                               type="radio"
                                               class="sr-only">
                                        <label for="action-{{ action.id }}_{{ key }}"
                                               class="
                                                flex-1 block whitespace-nowrap px-2 py-1 cursor-pointer border-gray-400
                                           {% if loop.first %}
                                                border rounded-l
                                           {% elif loop.last %}
                                                border-t border-r border-b rounded-r
                                           {% else %}
                                                border-t border-r border-b
                                           {% endif %}
                                            ">
                                            {{ display }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </fieldset>
                        </form>
                    </section>
                </li>
            {% endfor %}
        </ul>
    </section>
    <script src="app.js"></script>
    <script src="navigation.js"></script>
    <script src="ecpi_nav_display.js"></script>
</main>
</body>
</html>
