.htmlContent ul {
  list-style: disc;
  margin-left: 1.5rem;
}

.htmlContent li > p {
  display: inline;
}

details > .content p {
  margin-bottom: 1rem;
}

.htmlContent p {
  margin: 0 0 0.5rem;
}

.htmlContent a:link {
  text-decoration: underline;
  font-weight: 100;
}

.htmlContent a:visited {
  text-decoration: none;
}

.htmlContent a:hover {
  font-weight: 200;
}

.htmlContent a:active {
  text-decoration: underline;
}

.ActionExpandPanelAdemeContent summary.title {
  font-size: 18px;
}

main a[href] {
  box-shadow: none;
}

/* Checkbox styling */
input {
  appearance: none;
  display: inline-block;
  vertical-align: middle;
}

input[type='checkbox'] {
  border: 2px solid #555;
  width: 20px;
  height: 20px;
  padding: 4px;
}
input[type='checkbox']:checked {
  background: #555;
  background-clip: content-box;
}
label {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 -2px 8px;
}
