/**
* Pseudo code
*
* sync:
* import * as mesure_x from '/mesures/this_file_x.mjs';
*
* async:
* if (needed) {
*   let mesure_x = await import('/mesures/this_file_x.mjs');
*   let name = mesure_x.nom; // autocomplete magic 🔮
* }
*/

{% for section, content in mesure.items() %}
export const {{ section }} = `{{ content }}`;
{% endfor %}
