name: Déploiement de l'auth
run-name: Déploiement du module d'auth. sur ${{ github.event.inputs.target }}

on:
  workflow_dispatch:
    inputs:
      target:
        type: choice
        description: Où déployer
        options:
          - preprod
          - staging
          - prod

jobs:
  deploy-panier:
    name: Déploie le module d'auth.
    environment: ${{ github.event.inputs.target }}
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v4
      - uses: earthly/actions-setup@v1
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          version: ^0.8.0
      - name: Login into registry
        run: docker login ghcr.io/territoiresentransitions --username "${{ secrets.GH_USER }}" --password "${{ secrets.GH_TOKEN }}"

      - name: Build and push auth image
        run: >
          earthly
          --use-inline-cache --save-inline-cache --push
          --platform=linux/amd64
          +auth-build
          --ENV_NAME=${{ github.event.inputs.target }}
          --ANON_KEY=${{ secrets.ANON_KEY }}
          --API_URL=${{ secrets.API_URL }}
          --BACKEND_URL=${{ vars.BACKEND_URL }}
          --APP_URL=${{ vars.APP_URL }}

      - name: Deploy auth on Koyeb
        run: >
          earthly
          --use-inline-cache
          +auth-deploy
          --ENV_NAME=${{ github.event.inputs.target }}
          --KOYEB_API_KEY=${{ secrets.KOYEB_API_KEY }}
