name: Supprime l'app de test de la branche

permissions:
  contents: read

on:
  pull_request:
    types:
      - closed

jobs:
  destroy-test-app:
    name: Supprime l'app de test
    environment: preprod
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4
      - uses: earthly/actions-setup@v1
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          version: ^0.8.0
      - name: Login into registry
        run: docker login ghcr.io/territoiresentransitions --username "${{ secrets.GH_USER }}" --password "${{ secrets.GH_TOKEN }}"

      - name: Deploy test app on Koyeb
        run: >
          earthly
          --use-inline-cache
          +app-destroy-test
          --KOYEB_API_KEY=${{ secrets.KOYEB_API_KEY }}
          --BRANCH_NAME=${{ github.event.pull_request.head.ref }}

