@keyframes drop {
  from {
    background-color: rgb(215, 223, 249);
  }
  to {
    background-color: rgb(234, 238, 251);
  }
}

.drop-animation {
  animation: 1.25s cubic-bezier(0.17, 0.67, 0.84, 0.62) drop;
}
